body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}
/* styling recipe options */
.btn-outline-secondary {
  height: 200px;
}
