body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
nav {
  background-color: #bf4342;
}
main {
  flex: 1 0 auto;
}

/* The hero image */
.banner-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/People-Prepping-Vegetables-Stock-Photo.jpg");

  /* Set a specific height */
  height: 400px;
  opacity: 0.9;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* This class will place the text in the middle of the image banner-image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  color: black;
  background-color: #dde8b9;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #c9d3a8;
  transform: scale(1.1);
  transition: 0.2s;
}

.modal {
  width: 90% !important ;
  height: 70% !important ;
  padding: 10px;
}
.modal button {
  border: none;
  outline: 0;
  display: inline-block;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  margin-left: 30px;
}

#recipe_input {
  background-color: lightgray;
  color: black;
  padding-left: 10px;
  width: 40%;
  margin-bottom: 15px;
}

content {
  background-color: lightgray;
}
span.results_count {
  font-style: italic;
}

aside {
  background-color: white;
  height: 300px;
}

.card-col {
  float: left;
  text-align: center;
}

.card {
  margin: 20px;
}

/* Set the size of the div element that contains the map */
#map {
  height: 500px; /* The height is 500 pixels */
  width: 100%; /* The width is the width of the web page */
  display: block;
}

/* Styling for the footer */
footer {
  /* margin-top: 50px; */
  position: relative;
  bottom: 0;
  width: 100%;
}
.page-footer {
  background-color: #bf4342;
}

/* Change Font Size With Media Queries */
@media (min-width: 200px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 23px;
  }
  h3 {
    font-size: 19px;
  }
  h4 {
    font-size: 15px;
  }
  h5,
  span {
    font-size: 12px;
  }
  .img-container .list-group-item {
    font-size: 11px;
    padding: 10px 10px;
  }
  .card-col {
    width: 50%;
  }
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 23px;
  }
  h3 {
    font-size: 19px;
  }
  h4 {
    font-size: 15px;
  }
  h5,
  span {
    font-size: 12px;
  }
  li {
    font-size: 12px;
  }
  .img-container .list-group-item {
    font-size: 12px;
    padding: 10px 10px;
  }
  .card-col {
    width: 50%;
  }
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 19px;
  }
  h4 {
    font-size: 17px;
  }
  h5,
  span {
    font-size: 14px;
  }
  .img-container .list-group-item {
    font-size: 14px;
    padding: 10px 10px;
  }
  .card-col {
    width: 50%;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 21px;
  }
  h4 {
    font-size: 17px;
  }
  h5,
  span {
    font-size: 14px;
  }
  .img-container .list-group-item {
    font-size: 14px;
    padding: 10px 10px;
  }
  .card-col {
    width: 33.33%;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 19px;
  }
  h5,
  span {
    font-size: 15px;
  }
  .img-container .list-group-item {
    font-size: 15px;
    padding: 10px 10px;
  }
  .card-col {
    width: 33.33%;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 19px;
  }
  h5,
  span {
    font-size: 18px;
  }
  .img-container .list-group-item {
    font-size: 18px;
    padding: 10px 10px;
  }
  .card-col {
    width: 33.33%;
  }
}

/* New CSS */

header#storeLocatorBanner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/largegrocery.jpg");

  /* Set a specific height */
  height: 250px;
  opacity: 0.9;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

main#mainStoreLocator {
  background-color: rgb(63, 62, 62);
}
#store_list {
  color: white;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

div#name {
  height: 50px;
  background-color: rgb(63, 62, 62);
  margin: 10px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  border-color: black;
  text-align: center;
  font-style: italic;
  box-shadow: 2px 2px black;
}
div#name:hover {
  color: #bf4342;
}
h1.storeLocatorStyle {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 50px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 100px;
  /* font-style: italic; */
}

#storeLocatorP {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
  height: 20px;
}
